.emTable{
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    border: 1px solid #EBEDF0;
    background-color: white;
}

table{
    clear: right;
    padding: 10px;
    margin: 20px auto;
    width: 900px;
}

table tr:first-child td {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

table tr td {
    padding: 10px;
    text-align: center;
}

table tr {
    border-bottom: 1px solid grey;
}

.emTable > div > div{
    margin: auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.content >td button:first-child{
    margin-right: 10px;
}

.ag-theme-balham{
    margin: 40px auto;
}

.ag-theme-balham{
    --ag-borders: none;
    --ag-borders-row: solid 1px;
    --ag-row-border-color: grey;
}


.form-add{
    /* width: 400px; */
    background-color: white;
    border-radius: 10px;
    /* padding: 20px; */
    /* margin: 40px auto; */
}

form{
    margin: 0px 20px;
}

.form-add h2{
    margin-bottom: 20px;
    text-align: center;
}

svg{
    width: 20px;
    position: absolute;
}

/* .form-add button{
    position: relative;
    left: 345px;
} */

.form-add small{
    color: red;
    display: none;
}

input.error{
    outline: 1px solid red;
}

input.sucess{
    outline: 1px solid green;
}

.form-add small.error{
    display: block;
}
